
<div style="text-align:center;">
<h1>Contact information</h1>
<div class="mt-3">
<p>Email: <a href="mailto:info@example.com">info@mpcshop.com</a></p>
<p>Phone: +46 (076) 289-7890</p>
<img src="images/Logo.png" style="border-radius:10%; width:70%;" class="mt-5"/>
    </div>
</div>
@code {

}
