@if (showComponentTerms)
{
    <TermsAndConditionsComponent/>
}
@if (showComponentAbout)
{
    <AboutUsComponent />
}
@if (showComponentContact)
{
    <ContactUsComponent />
}
<footer class="footer text-center mt-3">
<hr />
    <div class="container-fluid mt-3 mb-1">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm" @onclick="ToggleComponentAbout">
                    <h5>About us</h5>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm" @onclick="ToggleComponentTerms">
                    <h5>Terms and conditions</h5>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm" @onclick="ToggleComponentContact">
                    <h5>Contact</h5>
                </button>
            </div>
        </div>
    </div>
</footer>

@code {
    private bool showComponentTerms = false;
    private bool showComponentContact = false;
    private bool showComponentAbout = false;
    private void ToggleComponentTerms()
    {
        showComponentAbout = false;
        showComponentContact = false;
        showComponentTerms = !showComponentTerms;
    }

    private void ToggleComponentContact()
    {
        showComponentAbout = false;
        showComponentTerms = false;
        showComponentContact = !showComponentContact;
    }

    private void ToggleComponentAbout()
    {
        showComponentContact = false;
        showComponentTerms = false;
        showComponentAbout = !showComponentAbout;
    }
}
