@page "/"
@inject UIService Service

<NavComponent UICartService="Service" />
@* <MenuComponent />
<CardListComponent />
 *@

<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
        <AsideComponent OnChange="OnChange" />
        <ProductMainComponent OnChange="OnChange" />
    </CascadingValue>
</div>
<footer class="footer">
    <!-- Social media icons -->
    <div class="d-flex justify-content-center socialicons">
        @* <div class=" col text-center" style=" margin-top: 50px;"> *@
            <a href="https://www.instagram.com/MPCShop/" target="_blank" rel="noopener noreferrer">
                @*The rel="noopener noreferrer" attribute is commonly used in HTML anchor (<a>) elements, specifically when the target attribute is set to _blank to open a link in a new tab or window. *@
                <i class="bi bi-instagram" style="color: darkorange;"></i>
            </a>

            <a href="https://www.facebook.com/MPCShop/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook" style="color: darkorange;"></i>
            </a>

            <a href="https://www.tiktok.com/MPCShop/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-tiktok" style="color: darkorange;"></i>
            </a>

            <a href="https://www.youtube.com/MPCShop/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-youtube" style="color: darkorange;"></i>
            </a>
        @* </div> *@
</div>
</footer>

@code {
    void OnChange()
    {

    }
}
