@using MPCShop.UI.Models.Link

<article>
    <div class="bg-transparent text-black p-2"><strong>@LinkGroup?.Name</strong></div> @*It is for Category in the page*@
    <div class="d-flex flex-column">
        @foreach (var link in LinkGroup!.LinkOptions)
        {
            <LinkComponent LinkOption="link" OnOptionCall="OnLinkPress" />
        }
    </div>
</article>

@code {
    [Parameter] public LinkGroup? LinkGroup { get; set; }
    [Parameter] public EventCallback<int> OnAsideCall { get; set; }

    void OnLinkPress(int id)
    {
        if (OnAsideCall.HasDelegate)
            OnAsideCall.InvokeAsync(id);
    }
}
