@page "/"
@inject UIService Service;

<CascadingValue Value="Service" Name="Service">
    <NavComponentV2 OnChange="OnChange" />

</CascadingValue>

<div id="viewport" class="d-flex vh-100 justify-content-center">
    <CascadingValue Value="Service" Name="Service">
        <ProductMainComponent />
    </CascadingValue>
</div>

@code {
    void OnChange()
    {

    }

}